.heading{
    text-align: center;
    width: 33.3333%;
    background-color: lightgreen;
    color: GREEN;
}

.center{
    width: 100%;
    /* justify-content: center;
    display: flex; */
}

.table2{
    width: 100%;
    border-collapse: collapse;
}


.id{
    width: 5%;
    text-align: center;
    height: 50px;
}

.profile{
    width: 19%;
    text-align: center;
    height: 50px;
}

.name{
    width: 19%;
    text-align: center;
    height: 50px;
}

.email{
    width: 19%;
    text-align: center;
    height: 50px;
    font-weight: bold;
    color: green;
}

.status{
    width: 19%;
    text-align: center;
    height: 50px;
}

.view{
    width: 19%;
    text-align: center;
    height: 50px;
}

.tr1{
    font-weight: bold;
    color: green;
}

.table2 tr:nth-child(){
    background-color: lightgreen;
}

button{
    background-color: lightgreen;
    height: 80%;
}

i{
    color: green;
    font-size:35px;
}

.tr3,.tr6{
    background-color: rgb(181, 228, 181);
}

td,th{
    margin: 0%;
    padding: 0%;
    border: none;
}